.icon {
  width: 14px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.courseIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
}
.wedcellInstituteCourses {
  text-align: center;
  position: relative;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
}
.courseHeadingWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.courseHeadingWrapperWrapper {
  width: 1037.8px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.courseHeadingWrapperWrapper,
.heading2,
.topCoursesHeadingWrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.heading2 {
  text-align: center;
  margin: 0;
  width: 476.5px;
  position: relative;
  font-size: inherit;
  line-height: 48.32px;
  font-weight: 700;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
}
.topCoursesHeadingWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-100);
}
.wedcellInstituteOf {
  text-align: center;
  align-self: stretch;
  position: relative;
  line-height: 29px;
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
}
.courseItem,
.courseItems {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.courseItem {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-base-4);
}
.courseItems {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-7xl) 0 var(--padding-6xl);
  box-sizing: border-box;
}
.backgroundborderIcon {
  height: 60px;
  width: 60px;
  position: absolute;
  margin: 0 !important;
  /* bottom: 18.9px; */
  top: -30px;
  left: -30px;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.pgdmInEvent {
  font-size: 18px;
  position: relative;
  line-height: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.backgroundborder,
.container {
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  /* display: flex; */
  flex-direction: row;
  align-items: flex-start;
}
.container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 30px 10px;
  box-sizing: border-box;
}
.backgroundborder {
  /* flex: 1; */
  background-color: var(--color-white);
  border: 1px solid var(--color-lavender);
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
  position: relative;
}
.backgroundborderIcon1 {
  height: 60px;
  width: 60px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  margin: 0 !important;
  /* bottom: 0px; */
  left: -30px;
  border-radius: var(--br-3xs);
}
.certificationCourseIn {
  height: 46px;
  /* flex: 1; */
  position: relative;
  line-height: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.container1 {
  width: 100%;
  height: 100%;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xl-2) var(--padding-5xl) var(--padding-9xl-7) 25px;
  box-sizing: border-box;
}
.backgroundborderIcon2 {
  height: 60px;
  width: 60px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  margin: 0 !important;
  /* bottom: 30.4px; */
  left: -30px;
  border-radius: var(--br-3xs);
}
.certificationCourseIn1 {
  width: 132.8px;
  position: relative;
  line-height: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.courseList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: stretch;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .courseList {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 550px) {
  .courseList {
    grid-template-columns: 1fr;
  }
}
.container2 {
  width: 100%;
  height: 100%;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xl-2) var(--padding-5xl) var(--padding-9xl-7) 25px;
  box-sizing: border-box;
}
.courseList {
  align-self: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-35xl);
}
.backgroundborderIcon3 {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 !important;
  /* top: 30.4px; */
  left: -30px;
  border-radius: var(--br-3xs);
}
.certificationCourseIn2 {
  flex: 1;
  position: relative;
  line-height: 23px;
  font-weight: 500;
}
.container3 {
  width: 100%;
  height: 100%;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xl-2) var(--padding-5xl) var(--padding-9xl-7) 25px;
  box-sizing: border-box;
}
.celebrity {
  margin: 0;
}
.celebrityManagementCertificaContainer {
  position: relative;
  line-height: 23px;
  font-weight: 500;
}
.section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 42px 24px 0px;
  gap: 24px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.courseContent,
.courseContentWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.courseContent {
  width: 1120px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-12xs-8);
}
.courseContentWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-41xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-mediumvioletred);
  font-family: var(--font-jost);
}
@media screen and (max-width: 1400px) {
  .section {
    padding-left: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .heading2 {
    font-size: var(--font-size-13xl);
    line-height: 39px;
  }

  .courseContentWrapper {
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading2 {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
}
