.mainDiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 3% 1%;
  padding-bottom: 4%;
  align-items: center;
  font-family: var(--font-inter);
  @media (max-width: 900px) {
    padding: 20px;
  }
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  > hgroup {
    font-size: clamp(20px, 5vw, 32px);
    font-weight: 600;
    color: rgba(182, 4, 79, 1);

    @media (max-width: 900px) {
      font-size: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    > span {
      display: none;
      @media (max-width: 900px) {
        display: flex;
        font-size: 15px !important;
      }
    }
  }
  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    .cardContainer {
      p {
        margin: 0;
        font-size: 14px;
      }
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px 14px;
      @media (max-width: 900px) {
        display: flex;
        overflow-x: auto;
        padding-bottom: 6px;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .card {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 20px 5px 20px 5px;

      align-items: start;
      text-align: start;
      @media (max-width: 900px) {
        min-width: 220px;
      }
      > img {
        width: 90%;
      }
      > span {
        font-size: 18px;
        font-weight: 500;
        text-align: start;
        color: rgba(182, 4, 79, 1);
      }
    }
  }
}
