@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;500;700&family=Inter:wght@200;300;400;500;600;700;800;900&family=Montserrat&family=Roboto:wght@400;500;700&display=swap");

.imageBackground::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.imageBackground > span:first-child {
  height: 600px !important;
  width: 100% !important;
}
.bigSliderImage {
  height: 80vh !important;
  object-fit: contain !important;
}
.albumImgConntainer {
  width: 100%;
  display: flex !important;
  justify-content: center;
}
.albumImgConntainer > span:first-child {
  height: 80vh !important;
  width: 90vw !important;
}
.albumImgConntainer > span:first-child img {
  object-fit: contain !important;
}
.bigSliderImage1 {
  max-height: 80vh !important;
  object-fit: contain !important;
  max-width: 90vw;
  width: auto;
  height: auto;
}
.mainbody {
  margin-top: 99px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f5f5f5;
}
.sizes {
  letter-spacing: 7px !important;
}
.topdiv {
  display: grid;
  grid-template-columns: 50% 50%;
  width: calc(100% - 20px);
  padding: 10px 20px;
  margin-bottom: 20px;
  gap: 20px;
}
.leftdiv {
  display: flex;
  /* padding: 40px; */
  width: 100%;
  /* background-color: white; */
}
.leftdiv {
  display: flex;
  /* padding: 40px 40px 20px; */
  width: 100%;
  /* background-color: white; */
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.imgcontainer {
  width: 90%;
  background-color: white;

  /* padding: 10px 10px; */
  /* height: fit-content; */
}

.imgcontainer img {
  height: 600px;
  width: 100%;
  object-fit: contain;
  opacity: 1;
  position: relative;
  z-index: 3;
  /* border: 1px solid white; */
}

.imgListContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}
.imgListContainerforAlbum {
  width: 100%;
}
.imgListCardforAlbum {
  height: 150px;
  width: 200px;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.imgListCardforAlbum > span:first-child {
  height: 150px !important;
  width: 200px !important;
}
.imgListCardforAlbum img {
  height: 100%;
  width: 100%;
}

.imgListCardforAlbum span {
  font-size: 15px;
  border-radius: 5px;
  font-weight: 400;
  padding: 5px 10px;
  position: absolute;
  z-index: 10;
  bottom: 3px;
  right: 3px;
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.516);
  max-width: 80%;
  overflow-y: scroll;
  white-space: nowrap;
}
.imgListContainer img {
  width: 100px;
  height: 100px;
  border-radius: 7px;
}
/* .leftdiv img {
  height: 560px;
  width: 100%;
} */
.rightdiv {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.prdctdesc {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Inter";
  gap: 7px;
  text-align: start;
  background-color: white;
  padding: 20px 5% 10px;
}
.prdctname {
  font-size: 33px;
  font-weight: 500;
  text-transform: capitalize;
}
.prdtdescspan {
  color: #28282893;
  font-size: 16px;
  font-size: 100;
  margin-top: -5px;
}
.starate img {
  height: 20px;
  margin-top: -1px;
}
.starate {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #5ba829;
  padding: 5px 12px;
  font-size: 15px;
  width: fit-content;
  justify-content: space-around;
}
.starate span {
  font-size: 20px;
  font-weight: 400;
  color: white;
}
.rating {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 5px;
  width: 100%;
  /* border: 1px solid #1f1f1f57; */
  padding: 2px 0px;
  padding-left: 10px;
  /* margin-top: 15px; */
}
.prdctprice {
  color: #b6255a;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.prdctdetail {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: white;
  gap: 20px;
  padding: 10px 2% 10px;
  width: 100%;
  overflow: hidden;
}
.detailspan {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.detailspan1 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.fulldetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
}
.leftsec {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border-right: 1px solid rgba(171, 170, 170, 0.308); */
  row-gap: 15px;
}
.rightsec {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.fulldetails1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
}
.leftsec1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 0px;
  row-gap: 15px;
}
.allowedvendorimg img {
  width: 25px;
  margin-right: 5px;
  margin-top: -3px;
}
.allowedvendorimg1 img {
  width: 25px;
  margin-right: 5px;
  /* margin-left: -25px; */
  margin-top: -3px;
}
@media (max-width: 600px) {
  .allowedvendorimg1 img {
    width: 25px;
    margin-right: 5px;
    margin-left: -0px;
    margin-top: -3px;
  }
}
.rightsec1 {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.rightsec1 article {
  display: flex;
  width: 100%;
}
.leftsec1 article {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
}
.rightsec article {
  display: flex;
  width: 100%;
}
.leftsec article {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
}
.cats {
  width: 70%;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: start;
  white-space: nowrap;
}
.value {
  width: 30%;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: #272727b2;
  text-align: center;
  /* padding-right: 10px; */
}

.btndiv {
  /* margin-top: 25px; */
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid #b6255a;
  border-radius: 10px;
  /* gap: 3%; */
}
.buyNow1 {
  color: white;
  background-color: white;
  width: 33%;
  padding: 10px;
  border: 1px solid #b6255a;
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
}
.buyNow {
  color: white;
  background-color: #b6255a;
  width: 35%;
  padding: 11px;
  border: none;
  font-size: 15px;
  font-weight: 600 !important;
  border-radius: 10px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.addTocart1 {
  width: 40%;
  padding: 11px;
  border: none;
  background-color: transparent;
  border: 1px solid #b6255a;
  color: #b6255a;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  white-space: nowrap;
}
.addTocart {
  width: 26%;
  padding: 10px;
  border: none;
  background-color: transparent;
  /* border: 1px solid #b6255a; */
  color: #b6255a;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
}
.manufacturerDetail {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px 5% 10px;
  background-color: white;
  row-gap: 10px;
  padding-bottom: 20px;
}
.manufacturerDetailspan {
  font-size: 18px;
  font-weight: 600;
}
.manufacturername {
  font-size: 16px;
  font-weight: 300;
  white-space: pre-wrap;
  padding-right: 20px;
  text-align: justify;
}
.star-container svg {
  height: 15px;
}
.prdctpath {
  font-size: 16px;
  padding: 20px 50px;
  padding-bottom: 10px;
  font-weight: 600;
  text-transform: capitalize;
  color: #36363695;
}
.ReviewBar {
  width: 300px;
}
.ReviewBar1 {
  width: 300px;
}
.ReviewBar2 {
  width: 300px;
}
.ReviewBar3 {
  width: 300px;
}
@media (max-width: 1050px) {
  .topdiv {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .btndiv {
    justify-content: start;
  }
}
@media (max-width: 600px) {
  .fulldetails {
    flex-direction: column;
    gap: 15px;
  }
  .leftsec {
    border: none;
    width: 100%;
  }
  .rightsec {
    width: 100%;
  }
}
@media (max-width: 490px) {
}

@media (max-width: 1600px) {
  .imgListContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1440px) {
  .imgListContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .imgListContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .imgcontainer img {
    height: 500px;
  }
}
@media (max-width: 1050px) {
  .imgListContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .imgcontainer img {
    height: 500px;
  }
  .imgListContainerforAlbum {
    width: calc(100vw - 80px);
  }
}

@media (max-width: 900px) {
  .imgListContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .imgcontainer img {
    height: 450px;
  }
  .mainbody {
    margin-top: 65px;
  }
}
@media (max-width: 700px) {
  .imgListContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .imgcontainer img {
    height: 400px;
  }
}

@media (max-width: 600px) {
  .imgListContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .imgcontainer img {
    height: 400px;
  }
  /* .leftdiv .imgListContainer img {
    width: 75px;
    height: 75px;
  } */
  .btndiv {
    flex-direction: column;
    gap: 10px;
  }
  .btndiv button {
    width: 95%;
  }
}

@media (max-width: 500px) {
  /* .leftdiv .imgListContainer {
    grid-template-columns: 1fr 1fr 1fr;
  } */
  .imgcontainer img {
    height: 350px;
  }
  .imgListContainer img {
    width: 75px;
    height: 75px;
  }
  .priceshead span {
    font-size: 12px;
  }
  .pricesrows span {
    font-size: 26px !important;
  }
}
@media (max-width: 400px) {
  .imgListContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .imgcontainer img {
    height: 250px;
  }
  .imgListContainer img {
    width: 75px;
    height: 75px;
  }
}
.loc span {
  font-size: 15px;
}
.planandpac {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}
.tandc {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}
.allowedVendors {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.allowedVendors span {
  width: 50%;
}
.priceshead {
  margin-top: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  padding: 10px 10px;
  width: 100%;
  font-size: 15px;
  color: #b6255a;
  font-weight: 600;
  align-items: flex-end;
  border: 1px solid #b6255a;
  border-radius: 10px;
}
.priceshead article {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.priceshead article img {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}
.pricesrows {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -10px;
}
.pricesrows span {
  width: 33%;
  text-align: start;
  font-size: 31px;
}
.priceshead span {
  /* width: 33%; */
  text-align: start;
}
.wedprofdetcontainer {
  font-size: 24px;
  position: absolute;
  right: -0px;
  bottom: 10px;
  background-color: white;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  padding: 10px 70px;
  gap: 13px;
  align-items: center;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, alpha);
  background: rgba(182, 37, 90, 0.45);
  filter: blur(px);
  border: 1px solid rgb(234, 31, 105);
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.4);
  color: white !important;
}
.wedprofdetcontainer .location {
  display: flex;
  gap: 5px;
}
.wedprofdetcontainer .tprice {
  font-size: 20px;
  font-weight: 400;
}
.wedprofdetcontainer .loveicon {
  height: 25px;
  margin: -20px;
}
@media (max-width: 850px) {
  .wedprofdetcontainer {
    padding: 10px 30px;
    gap: 10px;
  }
  .wedprofdetcontainer .loveicon {
    margin: -16px;
  }
}
@media (max-width: 500px) {
  .wedprofdetcontainer {
    padding: 7px 20px;
    font-size: 16px;
    white-space: nowrap;
  }
  .wedprofdetcontainer .tprice {
    font-size: 16px;
    font-weight: 400;
  }
  .wedprofdetcontainer .location span {
    font-size: 13px !important;
  }
  .wedprofdetcontainer .location img {
    height: 14px !important;
    margin-top: 3px;
  }
}
.mainReviewBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 15%;
  margin-top: 5%;
  padding-top: 30px;
  border-top: 1px solid grey;
  gap: 20px;
}
.Viewbtn {
  font-size: 14px;
}
.Viewbtn:hover {
  color: #b6255a;
  text-decoration: underline;
  cursor: pointer;
}
.HiredVendorbtns > span:first-child {
  height: 30px !important;
  width: 30px !important;
}
.HiredVendorbtns img {
  width: 30px;
  height: 30px;
}
.HiredVendorbtns {
  border: none;
  background: none;
  border-radius: 50px;
  padding: 5px;
}
/* .HiredVendorbtns:hover {
  background-color: #fcb4ce80;
} */
.wishlistandHiredvendor {
  display: flex;
  justify-content: space-around;
  width: 25%;
}
.wishlistandHiredvendor button {
  display: flex;
  justify-content: center;
  width: 40%;
}
.wishlistandHiredvendor1 {
  display: none;
}
@media (max-width: 1050px) {
  .imgcontainer {
    position: relative;
  }
  .wishlistandHiredvendor1 {
    display: flex;
    justify-content: space-around;
    width: 25%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30%;
  }
  .wishlistandHiredvendor1 button {
    display: flex;
    justify-content: center;
    width: 40%;
  }
  .wishlistandHiredvendor1 button img {
    width: 40px;
    height: 40px;
  }
  .wishlistandHiredvendor {
    display: none;
  }
}
.prdctname124 {
  display: flex;
  justify-content: space-between;
}
.vendortitle {
  font-size: 27px;
  padding-left: 60px;
  font-family: Arial, Helvetica, sans-serif;
}
.planandfeatureGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}
.planandfeatureGrid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.faciliteisiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
}
.faciliteisiv article {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 15px;
  font-weight: 600;
  justify-content: start;
}
.faciliteisiv article img {
  height: 35px;
  width: 35px;
}
@media (max-width: 500px) {
  .planandfeatureGrid1 {
    grid-template-columns: 1fr;
  }
  .faciliteisiv {
    grid-template-columns: 1fr 1fr;
  }
  .buyNow {
    width: 50%;
  }
}
.venueToglle {
  display: flex;
  justify-content: start;
  width: 100%;
  font-size: 15px;
  overflow: scroll;
}
.venueToglle span {
  min-width: 100px;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fulldetails1 {
  width: 100%;
}

.selectedmenu {
  background-color: #ec8eb1;
  color: white;
  box-shadow: inset 0px 0px 10px 2px rgba(255, 0, 0, 0.4);
}
@media (max-width: 1360px) {
  .priceshead {
    grid-template-columns: 1fr;
  }
  .priceshead article {
    width: 100%;
  }
}
