.main {
  display: "flex" !important;
  justify-content: "center" !important;
  align-items: "center" !important;
}

.body_main {
  border-radius: 10px !important;
  height: 100% !important;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15) !important;
}
.logo {
  height: 40px !important  ;
  width: 40px !important  ;
}
.logo1 {
  height: 20px !important  ;
  width: 20px !important  ;
}

.status_list {
  display: flex !important;
  flex-direction: column !important;
  align-items: start !important;
  gap: 5px !important;
  justify-content: space-around !important;
}

.status_button {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  gap: 10px !important;
  justify-content: space-around !important;
  background: linear-gradient(180deg, #c53244 0%, #b4245d 100%) !important;
  color: white !important;
  font-size: 22px;
  font-family: "Poppin";
  font-weight: 600;
  border-radius: 10px !important;
  padding: 10px 20px !important;
}
.status {
  display: flex !important;
  flex-direction: row !important;
  gap: 30px !important;
  align-items: center !important;
}

.see_profile_button {
  background: linear-gradient(rgb(197, 50, 68) 0%, rgb(180, 36, 93) 100%),
    #d9d9d9 !important;
  border-radius: 10px !important;
  margin-bottom: 25px !important;
  width: 100% !important;
  height: 30px !important;
  color: white !important;
  font-size: 16px;
  font-family: "Poppin";
  font-weight: 600;
}
.profile_details {
  padding: 20px 30px !important;
  display: grid !important;
  grid-template-columns: 32% 63% !important;
  column-gap: 25px !important;
}

.profile_details_content {
  display: flex !important;
  flex-direction: column !important;
  gap: 20px !important;
  align-items: start !important;
  justify-content: center !important;
}

.profile_details_content_div_1 {
  display: grid !important;
  grid-template-rows: 1fr 1fr !important;
  column-gap: 15px !important;
  row-gap: 15px !important;
  margin: 20px 0px 0px !important;
}

.profile_details_content_div_child {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  width: 100% !important;
  column-gap: 15px !important;
}

.profile_details_content_div_sub_child {
  display: grid !important;
  grid-template-columns: 25% 70% !important;
  column-gap: 10px !important;
  width: 100% !important;
}

@media screen and (max-width: 1200px) {
  .status_button {
    padding: 10px 10px !important;
  }

  .profile_details {
    padding: 20px 30px !important;
    grid-template-columns: 1fr !important;
    row-gap: 25px !important;
  }

  .logo {
    height: 30px !important  ;
    width: 30px !important  ;
  }
}

@media screen and (max-width: 900px) {
  .status_button {
    padding: 10px 10px !important;
  }

  .logo {
    height: 40px !important  ;
    width: 40px !important  ;
  }

  .status_button {
    padding: 10px 10px !important;
  }

  .profile_details {
    padding: 20px 30px !important;
    grid-template-columns: 32% 63% !important;
    column-gap: 25px !important;
  }
}

@media screen and (max-width: 600px) {
  .status_button {
    padding: 10px 10px !important;
  }

  .profile_details {
    padding: 20px 30px !important;
    grid-template-columns: 1fr !important;
    row-gap: 25px !important;
  }

  .logo {
    height: 25px !important  ;
    width: 25px !important  ;
  }
}

@media screen and (max-width: 400px) {
  .status_button {
    padding: 10px 10px !important;
  }

  .profile_details {
    padding: 20px 30px !important;
    grid-template-columns: 1fr !important;
    row-gap: 25px !important;
  }

  .logo {
    height: 35px !important  ;
    width: 35px !important  ;
  }
  .profile_details_content_div_child {
    display: grid !important;
    grid-template-columns: 1fr !important;
    width: 100% !important;
  }

  .profile_details_content_div_sub_child {
    display: grid !important;
    grid-template-columns: 25% 70% !important;
    column-gap: 10px !important;
    width: 100% !important;
  }

  .profile_details {
    padding: 10px 10px !important;
  }
}
