/* body {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.Card {
  color: #4a4a4a;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  row-gap: 80px;
  column-gap: 50px;
  align-items: center;
  height: 100%;
  width: 300px;
}
/* @media (max-width: 1330px) {
  .Card {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .Card {
    grid-template-columns: 1fr;
    align-items: center;
  }
} */
.exclusivecontainer {
  display: flex;
  height: 90px;
  top: 108px;
  flex-direction: column;
  justify-content: end;
  gap: 2px;
}
.exclusive {
  z-index: 20;
  width: 110px;
  position: relative;

  height: 25px;
  left: 0;
  box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.22);
}
.exclusive1 {
  z-index: 20;
  width: 90px;
  height: 25px;
  position: relative;
  left: 0;
  box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.22);
}
.exclusive2 {
  z-index: 20;
  width: 70px;
  height: 25px;
  position: relative;
  left: 0;
  box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.22);
}
.exclusive2 img {
  position: absolute;
}
.exclusive2 span {
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  top: 3.5px;
  left: 25px;
  font-weight: 500;
}
.exclusive1 img {
  position: absolute;
}
.exclusive1 span {
  color: #706e00;
  font-size: 12px;
  position: absolute;
  top: 3.5px;
  left: 25px;
  font-weight: 500;
}
.exclusive img {
  position: absolute;
}
.exclusive span {
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  top: 3.5px;
  left: 25px;
  font-weight: 500;
}
.rectangle {
  width: 110px;
  height: 25px;
}
.rectangle1 {
  width: 90px;
  height: 25px;
}
.rectangle3 {
  width: 70px;
  height: 25px;
}
.cardcontainer {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
  background: #ffffff;
  height: 100%;

  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.22);
  border-radius: 17px;
  row-gap: 5px;
}
.cardcontainerex {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
  background: #ffffff;
  height: 100%;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.22);
  border-radius: 17px;
  row-gap: 5px;
}
.details-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 12px;
  width: 100%;
  height: 100%;
}
.img-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container > span {
  height: 175px !important;
  width: 94% !important;
  border-radius: 20px !important;
  margin-top: 11px !important;
  object-fit: cover !important;
}
.img-container img {
  height: 175px;
  width: 94%;
  border-radius: 20px;
  object-fit: cover;
}
.name-det h2 {
  width: 100%;
  white-space: pre-wrap;
  font-size: 15px;
  font-weight: 400;
}
.name-det {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
}
.location {
  color: #909090;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  white-space: nowrap;
  margin-top: 2px;
}
.location span {
  font-size: 11px;
}
.location img {
  height: 13px;
  width: 8px;
  margin-top: 2px;
}
.perplateprice {
  display: flex;
  align-items: center;
}
.vegimg .circle {
  position: absolute;
  height: 6px;
  width: 6px;
  z-index: 1;
  top: 4.5px;
  left: 4px;
}
.vegimg {
  position: relative;
  align-items: center;
  margin-right: 2px;
}
.vegimg .rectangle {
  height: 16px;
  width: 16px;
}
.perplateprice .price {
  font-size: 15px;
}
.perplateprice .perplate {
  white-space: nowrap;
  font-size: 11px;
  margin-left: 2px;
  margin-top: 2px;
}
.review-det {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 5px;
}
.mainfeat-container {
  display: flex;
  justify-content: end;
  text-align: right;
  align-items: start;
}
.review img {
  height: 15px;
  width: 15px;
  margin-top: 2px;
}
.review {
  width: 50%;
  display: flex;
  column-gap: 5px;
  height: 26px;
  justify-content: end;
}
.rateNo {
  font-size: 15px;
  margin-top: -2px;
}
.outof {
  color: #909090;
  font-size: 14px;
}
.mainfeat {
  display: flex;
  align-items: start;
  white-space: nowrap;
  color: #909090;
  font-size: 13px;
}
.nonvegperplate {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
  margin-top: 4px;
}
.nonvegperplate .nonvegimg .circle {
  height: 6px;
  width: 6px;
  position: absolute;
  z-index: 1;
  top: 4.5px;
  left: 4px;
}
.nonvegperplate .nonvegimg {
  position: relative;
  align-items: center;
  margin-right: 0px;
}
.nonvegperplate .nonvegimg .rectangle {
  height: 16px;
  width: 16px;
}
.nonvegperplate .price {
  font-size: 15px;
}
.nonvegperplate .perplate {
  white-space: nowrap;
  font-size: 11px;
  margin-left: 2px;
  margin-top: 2px;
}
.totalprice {
  display: flex;
  align-items: center;
}
/* .totalprice span {
  font-size: 23px;
} */
.pernight {
  margin-top: 2px;
  font-size: 12px;
}
.rupeessym {
  font-size: 23px;
  margin-right: 4px;
  color: #f26540;
}
.tprice {
  margin-right: 3px;
  font-size: 18px;
}
.totprice {
  white-space: nowrap;
  justify-content: space-around;
  color: #f26540;
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: #ffdcd3;
  border-radius: 8px;
}
.facility {
  margin-top: -23px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: 12px;
  column-gap: 10px;
  width: 95%;
  /* overflow: hidden; */
  overflow-y: scroll;
}
.facility span {
  color: #4a4a4a;
  background: #eeeeee;
  padding: 5px 6px;
}
.more {
  margin-left: -7px;
  color: #909090 !important;
  background-color: rgba(255, 255, 255, 0) !important;
}
.call {
  display: flex;
  align-items: center;
}
.call img {
  height: 18px;
  width: 18px;
}
.call span {
  color: #909090;

  font-size: 13px;
}
.call .countrycode {
  margin-right: 3px;
}
.exclusive {
  z-index: 20;
  width: 88px;
  height: 28px;
  position: absolute;
  top: 170px;
  left: 0;
  box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.22);
}
.ShopNow {
  background-color: #b6255a;
  color: white;
  border: 1px solid #b6255a;
  background-color: none !important;
  font-size: 12px;
  padding: 8px 8px;
  margin-top: 10px;
  width: 75%;
  /* background: none; */
  font-weight: 500;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  white-space: nowrap;
  font-size: 15px;
  margin-bottom: 20px;
}
.exclusive img {
  position: absolute;
}
.exclusive span {
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  top: 4.5px;
  left: 25px;
}
.star2 {
  height: 15px;
  width: 15px;
  top: 4.5px;
  left: 5px;
  color: #ffffff;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  color: white;
  position: absolute;
  background-color: #b7b7b7;
  right: 50px;
  bottom: 7px;
  border-radius: 20px;
  height: 25px;
  width: 25px;
}
.footer {
  /* margin-top: -23px; */
  margin-top: -5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer1 {
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.heart {
  position: absolute;
  bottom: -35px;
  right: -20px;
}
.footer .call {
  border-color: #000000;
  padding: 14px;
  background-color: #e2e2e2;
  border-radius: 50%;
}
.Card hr {
  margin-top: -5px;
  height: 1px;
  width: 98%;
  /* border: 0.5px solid rgba(0, 0, 0, 0.208); */
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.208);
}
.buttons {
  margin-top: -5px;
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  padding: 6px 10px;
  background: none;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: #909090;
}
.buttons button:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.22);
}
.addtocartholediv {
  display: flex;
  align-items: center;
  gap: 10px;
}
