.backgroundIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -0.2px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.heading2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
}
.weddingPlanningPgdm {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 33px;
  font-family: var(--font-roboto);
  display: inline-block;
  max-width: 100%;
}
.heading2BestEventManagemParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi-5);
  max-width: 100%;
}
.getStarted {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-jost);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  text-decoration: none;
  min-width: 90.1px;
  white-space: nowrap;
}
.icon,
.shape14pngIcon {
  overflow: hidden;
  flex-shrink: 0;
}
.icon {
  height: 14px;
  width: 12.3px !important;
  position: relative;
  min-height: 14px;
}
.shape14pngIcon {
  height: 171px;
  width: 202px;
  position: absolute;
  margin: 0 !important;
  bottom: 0px;
  left: 0px;
  object-fit: cover;
  z-index: 1;
}
.eventDetails,
.eventHighlights,
.link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl-5) var(--padding-10xl);
  background-color: var(--color-mediumvioletred);
  width: 168.1px;
  border-radius: var(--br-8xs);
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs-7);
}
.eventDetails,
.eventHighlights {
  flex-direction: column;
  max-width: 100%;
}
.eventHighlights {
  align-self: stretch;
  gap: var(--gap-6xl-1);
}
.eventDetails {
  padding: 0 0 var(--padding-184xl);
  box-sizing: border-box;
  min-height: 473px;
}
.border {
  height: 619.5px;
  width: 619.5px;
  position: absolute;
  margin: 0 !important;
  top: -522.82px;
  left: -167.45px;
  border-radius: var(--br-81xl);
  border: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  transform: rotate(25.4deg);
  transform-origin: 0 0;
  z-index: 1;
}
.tab1Of5 {
  display: none;
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: var(--br-9980xl);
  background-color: var(--color-gray-400);
  z-index: 2;
}
.background {
  position: absolute;
  height: 46.67%;
  width: 46.67%;
  top: 26.67%;
  right: 26.67%;
  bottom: 26.67%;
  left: 26.67%;
  border-radius: var(--br-6xs);
  background-color: var(--color-mediumvioletred);
}
.tabContent,
.tabContentWrapper {
  display: flex;
  align-items: flex-start;
}
.tabContent {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.tabContentWrapper {
  width: 231px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-lg);
  box-sizing: border-box;
}
.frameChild,
.shape13pngIcon {
  position: absolute;
  object-fit: cover;
}

.shape13pngIcon {
  top: 403.6px;
  left: 577.4px;
  width: 145px;
  height: 77px;
  overflow: hidden;
}
.frameChild {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  z-index: 1;
}
@media screen and (max-width: 700px) {
  .shape13pngParent {
    display: none !important;
  }
}
.shape13pngParent {
  width: 100%;
  height: 500px;
  width: 500px;
  position: relative;
  max-width: 100%;
}
.container,
.container1,
.eventInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}
.container1 {
  flex: 1;
  overflow: hidden;
  align-items: flex-end;
  padding: 25px 50px 50px;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-25xl);
  z-index: 1;
}
.container,
.eventInfo {
  align-items: flex-start;
}
.container {
  flex: 1;
  overflow: hidden;
  position: relative;
}
.eventInfo {
  align-self: stretch;
  padding: 0 0 var(--padding-6xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--color-white);
  font-family: var(--font-jost);
}
@media screen and (max-width: 1875px) {
  .container1 {
  }
}
@media screen and (max-width: 1400px) {
  .container1 {
    padding-left: var(--padding-47xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .heading2 {
    font-size: 40px;
    line-height: 58px;
  }
  .container1,
  .eventDetails {
    padding-bottom: var(--padding-113xl);
    box-sizing: border-box;
  }
  .container1 {
    gap: var(--gap-3xl);
    padding-left: var(--padding-14xl);
    padding-top: var(--padding-42xl);
    padding-bottom: var(--padding-xl);
  }
}
@media screen and (max-width: 450px) {
  .heading2 {
    font-size: 40px;
    line-height: 43px;
  }
  .container1 {
    padding-top: var(--padding-21xl);
    box-sizing: border-box;
  }
}
