.Downloads {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  border-radius: 22.73px;
  background: linear-gradient(0.96deg, #d142a2 -173.37%, #170e26 99.59%);
  @media (max-width: 900px) {
    padding: 10px 20px;
  }
  .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 900px) {
      gap: 10px;
    }
    hgroup {
      font-size: 40px;
      font-weight: 600;
      color: rgba(255, 255, 255, 1);
      @media (max-width: 900px) {
        font-size: 20px;
      }
    }
    span {
      color: rgba(255, 255, 255, 1);
      font-size: 20px;
      font-weight: 400;
      @media (max-width: 900px) {
        font-size: 12px;
      }
    }
    article {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      div {
        position: relative;
        width: 50%;
        transition: all ease 0.3s;
        a {
          &:hover > :nth-child(2) {
            visibility: visible;
            z-index: 1;
          }
          > :nth-child(2) {
            position: absolute;
            left: 0;
            z-index: -1;
          }
          > img {
            cursor: pointer;
            width: 100%;
            transition: all ease 0.2s;
          }
        }
      }
    }
  }
  .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover > img:nth-child(1) {
      transform: translateX(20px);
    }
    &:hover > img:nth-child(2) {
      transform: translateX(10px);
    }
    &:hover > img:nth-child(4) {
      transform: translateX(-10px);
    }
    &:hover > img:nth-child(5) {
      transform: translateX(-20px);
    }
    > img {
      position: relative;
      transition: all ease 0.4s;
      @media (max-width: 900px) {
        display: none;
      }
    }
    :nth-child(3) {
      z-index: 5;
    }
    :nth-child(1) {
      transform: translateX(100px);
      @media (max-width: 900px) {
        transform: translateX(50px);
      }
    }
    :nth-child(2) {
      transform: translateX(60px);
      @media (max-width: 900px) {
        transform: translateX(25px);
      }
    }
    :nth-child(4) {
      transform: translateX(-60px);
      @media (max-width: 900px) {
        transform: translateX(-25px);
      }
      z-index: 2;
    }
    :nth-child(5) {
      transform: translateX(-100px);
      @media (max-width: 900px) {
        transform: translateX(-50px);
      }
    }
    :nth-child(3) {
      z-index: 5;
    }
    .mobilemobile {
      display: none;
      @media (max-width: 900px) {
        display: flex;
        width: 100%;
      }
    }
    // :nth-child(2) {
    //   transform: translateX(10px);
    // }
    // :nth-child(4) {
    //   transform: translateX(-10px);
    //   z-index: 2;
    // }
    // :nth-child(5) {
    //   transform: translateX(-20px);
    // }
  }
}
