.contactUs {
  padding: 100px 50px;
  margin-top: -100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 900px) {
    flex-direction: column;
    padding: 100px 10px;
  }
  > article {
    margin-top: 80px;
    display: flex;
    width: 100%;
    max-width: 1400px;
    gap: 30px;
    @media (max-width: 900px) {
      flex-direction: column;
      gap: 0px;
      margin-top: 20px;
    }
    > section {
      width: 50%;
      @media (max-width: 900px) {
        width: 100%;
      }
      > hgroup {
        font-family: Gill Sans MT;
        font-size: 35px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 10px;
        @media (max-width: 900px) {
          font-size: 27px;
        }
      }
      > span {
        font-family: Gill Sans MT;
        font-size: 30px;
        font-weight: 700;
        text-align: left;
        background: linear-gradient(
          90.07deg,
          #582ffb 3.3%,
          #ff4dcd 57.06%,
          #fc974e 106.51%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: 900px) {
          font-size: 24px;
        }
      }
      > p {
        font-family: Gill Sans MT;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        margin: 20px 0px 40px 0px;
        width: 100%;
        > span {
          cursor: pointer;
          transition: all ease 0.3s;
          &:hover {
            text-decoration: underline;
          }
        }
        @media (max-width: 900px) {
          width: 100%;
          font-size: 16px;
        }
      }
      > article {
        display: flex;
        align-items: center;
        gap: 15px;
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        color: #ffffff;
      }
    }
    .Form {
      width: 50%;
      @media (max-width: 900px) {
        width: 100%;
      }
      display: flex;
      flex-direction: column;
      gap: 15px;
      > article {
        width: 100%;
        display: flex;
        gap: 10px;
      }
      input,
      textarea {
        width: 100%;
        background: #ffffff0d;
        border: 0.5px solid rgb(65, 65, 65);

        border-radius: 5px;
        padding: 10px 20px;
        &:focus {
          outline: none;
          border-image-source: linear-gradient(
            260.33deg,
            #b6255a -13.37%,
            #d45886 109.53%
          );

          border-width: 2pt;
          border-image-slice: 1;
        }
      }
    }
    button {
      background: #b6255a;
      width: fit-content;
      border: none;
      align-self: center;
      @media (max-width: 900px) {
        font-size: 15px !important;
      }
    }
  }
}
.gradient_span {
  text-align: center;
  line-height: 125%;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #582ffb, #ff4dcd, #fc974e);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  z-index: 1;
  color: #b6255a;
  @media (max-width: 900px) {
    padding: 0px;
    font-size: 32px !important;
  }
}
