.carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 10px;
  margin-top: 30px;
}
.bannerBtm {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  z-index: 2;
}
.carousel_item {
  transition: transform 0.5s ease;
  height: 350px;
  min-width: 100% !important;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  > img {
    object-fit: cover;
  }
  .absolute {
    left: 0;
    height: 100%;
    width: 70%;
    justify-content: space-evenly;
    background: linear-gradient(
      89.06deg,
      #b6255a 11.69%,
      rgba(99, 0, 0, 0) 103.57%
    );
    background-size: 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    padding: 35px 70px;
    @media (max-width: 900px) {
      width: 100% !important;
      padding: 20px;
      justify-content: center;
    }
    > hgroup {
      font-size: clamp(25px, 3.5vw, 48px);
      font-weight: 700;
      letter-spacing: -0.14000000059604645px;
      color: rgba(255, 255, 255, 1);
      width: 100%;
      transition: all ease 0.3s;
      cursor: pointer;
      @media (max-width: 900px) {
        font-size: 20px;
      }
      &:hover {
        color: rgba(182, 37, 90, 0.5);
      }
    }
    > p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.14000000059604645px;
      color: rgba(255, 255, 255, 1);
      width: 100%;
      @media (max-width: 900px) {
        font-size: 15px;
      }
    }
    button {
      border: none;
      width: fit-content;
      padding: 8px 30px;
      background: rgba(255, 255, 255, 1);
      border-radius: 30px;
      font-size: 16px;
      font-weight: 600;
      color: rgba(182, 37, 90, 1);
      transition: all ease 0.3s;
      cursor: pointer;
      &:hover {
        color: rgba(255, 255, 255, 1);

        background: rgba(182, 37, 90, 1);
      }
    }
  }
  .Absolute {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: fit-content;
    .totaldate {
      display: flex;
      color: white;
      font-weight: 600;
      gap: 0px;
      font-size: 15px;
      @media (max-width: 400px) {
        font-size: 13px;
        gap: 10px;
      }
    }
    .totaldate article {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 80px;
      gap: 4px;
      align-items: center;
      @media (max-width: 400px) {
        font-size: 13px;
        gap: 7px;
        width: 60px;
      }
      &:hover {
      }
      &:last-child > .numbers {
        &::after {
          content: "";
        }
      }
    }
    .numbers {
      font-size: 25px;
      background: #ffffff;
      width: 52.12px;
      height: 52.12px;
      border-radius: 14.42px;
      color: #630000;
      font-family: "Poppins", sans-serif;
      font-size: 22.85px;
      font-weight: 700;
      line-height: 43.27px;
      text-align: left;
      display: grid;
      place-items: center;
      position: relative;
      transition: all ease 0.2s;
      @media (max-width: 400px) {
        font-size: 14px;
        width: 42.12px;
        height: 42.12px;
      }
      &:hover {
        background: #b6255a;
        color: white;
      }
      &::after {
        content: ":";
        position: absolute;
        right: -17px;
        font-family: "Poppins", sans-serif;
        font-size: 28.85px;
        font-weight: 500;
        line-height: 37.33px;
        text-align: left;
        color: white;
      }
    }
    .values {
      text-transform: capitalize;
      font-size: 16px;
      @media (max-width: 900px) {
        font-size: 11px;
      }
    }
  }
}
.startTimer {
  background-image: url("https://wedfield.s3.ap-south-1.amazonaws.com/public/LandingPage/startTimer2.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    background-image: url("https://wedfield.s3.ap-south-1.amazonaws.com/public/LandingPage/startTime3.jpeg");
  }
}
.carousel_item1 {
  transition: transform 0.5s ease;
  height: 350px;
  min-width: 100% !important;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("https://wedfield.s3.ap-south-1.amazonaws.com/public/LandingPage/Banner.png");
  background-size: 100%;
  background-position: 20px -200px;
  background-repeat: round($number: 2);

  // &:hover {
  //   background-image: url('https://wedfield.s3.ap-south-1.amazonaws.com/public/LandingPage/startTimer2.png');
  // }
  .absolute {
    left: 0;
    height: 100%;
    width: 70%;
    justify-content: space-evenly;
    background: linear-gradient(
      89.06deg,
      #b6255a 11.69%,
      rgba(99, 0, 0, 0) 103.57%
    );
    background-size: 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    padding: 35px 70px;

    > hgroup {
      font-size: clamp(25px, 3.5vw, 48px);
      font-weight: 700;
      letter-spacing: -0.14000000059604645px;
      color: rgba(255, 255, 255, 1);
      width: 100%;
      transition: all ease 0.3s;
      cursor: pointer;

      &:hover {
        color: rgba(182, 37, 90, 0.5);
      }
    }
    > p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.14000000059604645px;
      color: rgba(255, 255, 255, 1);
      width: 100%;
    }
    button {
      border: none;
      width: fit-content;
      padding: 8px 30px;
      background: rgba(255, 255, 255, 1);
      border-radius: 30px;
      font-size: 16px;
      font-weight: 600;
      color: rgba(182, 37, 90, 1);
      transition: all ease 0.3s;
      cursor: pointer;
      &:hover {
        color: rgba(255, 255, 255, 1);

        background: rgba(182, 37, 90, 1);
      }
    }
  }
}
.carousel_item img {
  width: 100%;
}
.arrow {
  border: none;
  outline: none;
  background: none;
  font-size: 25px;
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50px;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 1);
  color: rgba(182, 37, 90, 1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev {
  left: 1%;
}
.prev img {
  transform: rotate(180deg);
}
.next {
  right: 1%;
}
@media (max-width: 900px) {
  .carousel {
    height: 250px;
    margin-top: 10px;
  }
  .carousel2 {
    height: 100%;
    display: flex;
  }
  .carousel_item {
    min-width: 100% !important;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carousel_item img {
    width: 100%;
  }
  .arrow {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
  }
}
