/* body {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.Card {
  color: #4a4a4a;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* row-gap: 80px; */
  column-gap: 50px;
  align-items: center;
}
/* @media (max-width: 1330px) {
  .Card {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .Card {
    grid-template-columns: 1fr;
    align-items: center;
  }
} */

.cardcontainer {
  position: relative;
  align-items: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
  background: #ffffff;
  width: 100%;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.22);
  border-radius: 17px;
  row-gap: 20px;
  height: 100%;
}
.cardcontainerex {
  position: relative;
  align-items: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
  background: #ffffff;

  box-shadow: 0px 3px 27px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  row-gap: 20px;
  height: 100%;
}
.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 12px;
  height: 100%;
  width: 100%;
}
.img-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container > span:first-child {
  height: 180px !important;
  width: 94% !important;
  margin-top: 11px !important;
  border-radius: 20px !important;
}
.img-container img {
  height: 180px;
  width: 94%;
  margin-top: 11px;
  border-radius: 20px;
  object-fit: cover;
}
.nameLoc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  align-items: flex-start;
}
.name-det h2 {
  width: 50%;
  white-space: pre-wrap;
  font-size: 15px;
  font-weight: 400;
}
.name-det {
  width: 100%;
  display: flex;
}
.location {
  width: 160px;
  color: #909090;
  margin-bottom: 8px;
  display: flex;
  align-items: top;
  column-gap: 4px;
  white-space: nowrap;
  overflow-y: scroll;
}
/* .location span {
  font-size: 11px;
} */
.location img {
  height: 13px;
  width: 8px;
}
.perplateprice {
  display: flex;
  align-items: center;
}
.vegimg .circle {
  position: absolute;
  height: 6px;
  width: 6px;
  z-index: 1;
  top: 4.5px;
  left: 4px;
}
.vegimg {
  position: relative;
  align-items: center;
  margin-right: 2px;
}
.vegimg .rectangle {
  height: 16px;
  width: 16px;
}
.perplateprice .price {
  font-size: 15px;
}
.perplateprice .perplate {
  white-space: nowrap;
  font-size: 11px;
  margin-left: 2px;
  margin-top: 2px;
}
.review-det {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  margin-top: 2px;
}
.mainfeat-container {
  display: flex;
  justify-content: end;
  text-align: right;
}
.review img {
  height: 15px;
  width: 15px;
  margin-top: 2px;
}
.review {
  display: flex;
  column-gap: 5px;
  height: 26px;
  align-items: top;
  width: fit-content;
}
.review > span:first-child {
  height: 15px !important;
  width: 15px !important;
  margin-top: 2px !important;
}
.rateNo {
  font-size: 15px;
  margin-top: -2px;
}
.outof {
  color: #909090;
  font-size: 14px;
}
.mainfeat-container {
  width: fit-content;
}
.mainfeat {
  width: 100%;
  white-space: nowrap;
  color: #909090;
  font-size: 13px;
  height: 30px;
  margin-bottom: 10px;
  align-items: top;
}
.nonvegperplate {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
  margin-top: 4px;
}
.nonvegperplate .nonvegimg .circle {
  height: 6px;
  width: 6px;
  position: absolute;
  z-index: 1;
  top: 4.5px;
  left: 4px;
}
.nonvegperplate .nonvegimg {
  position: relative;
  align-items: center;
  margin-right: 0px;
}
.nonvegperplate .nonvegimg .rectangle {
  height: 16px;
  width: 16px;
}
.nonvegperplate .price {
  font-size: 15px;
}
.nonvegperplate .perplate {
  white-space: nowrap;
  font-size: 11px;
  margin-left: 2px;
  margin-top: 2px;
}
.totalprice {
  display: flex;
  align-items: center;
}
/* .totalprice span {
  font-size: 23px;
} */
.pernight {
  margin-top: 2px;
  font-size: 12px;
}
.rupeessym {
  font-size: 23px;
  margin-right: 1px;
  color: #f26540;
}
.tprice {
  font-size: 23px;
  text-align: left;
  white-space: nowrap;
}
.totprice {
  white-space: nowrap;
  justify-content: space-around;
  color: #f26540;
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 5px;
  background-color: #ffdcd3;
  border-radius: 8px;
}
.facility {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -5px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: 12px;
  column-gap: 10px;
  width: 240px;
  /* overflow: hidden; */
  overflow: scroll;
  height: 40%;
}
.location span {
  /* width: fit-content; */
  color: #4a4a4a;
  background: #eeeeee;
  /* padding: 5px 6px; */
  min-width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.more {
  margin-left: -7px;
  color: #909090 !important;
  background-color: rgba(255, 255, 255, 0) !important;
}
.call {
  display: flex;
  align-items: center;
}
.call img {
  height: 18px;
  width: 18px;
}
.call span {
  color: #909090;

  font-size: 13px;
}
.call .countrycode {
  margin-right: 3px;
}
.exclusive {
  z-index: 20;
  width: 88px;
  height: 25px;
  position: absolute;
  top: 177px;
  left: 0;
  box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.22);
}
.exclusive > span:first-child {
  width: 110px !important;
  height: 25px !important;
  left: 0;
  top: 0;
  position: absolute;
}
.exclusive > span:nth-child(2) {
  height: 15px !important;
  width: 15px !important;
  top: 150;
  left: 5px;
  color: #ffffff;
  position: absolute !important;
}
.exclusive img {
  position: absolute;
}
.exclusive span {
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  top: 4.5px;
  left: 25px;
}
.star2 {
  height: 15px;
  width: 15px;
  top: 4.5px;
  left: 5px;
  color: #ffffff;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  color: white;
  position: absolute;
  background-color: #b7b7b7;
  right: 50px;
  bottom: 7px;
  border-radius: 20px;
  height: 25px;
  width: 25px;
}
.footer {
  margin-top: -20px;
  padding-left: 10px;
  /* padding-right: 10px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer1 {
  margin-top: -5px;
  padding-left: 25px;
  /* padding-right: 15px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.footer .call {
  border-color: #000000;
  padding: 14px;
  background-color: #e2e2e2;
  border-radius: 50%;
}
.Card hr {
  margin-top: -14px;
  width: 98%;
  /* border: 0.5px solid rgba(0, 0, 0, 0.208); */
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.208);
}
.buttons {
  padding-left: 10px;
  margin-top: -5px;
  width: 95%;
  display: flex;
  justify-content: space-around;
}
.buttons .ShopNow {
  color: #b6255a;
  border: 1px solid #b6255a;
  color: #ffffff;
  background-color: #b6255a;
  font-size: 13px;
  font-family: "";
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;

  width: 100%;
}
.buttons .Addtocart {
  background: none;
  border: none;

  color: #ffffff;
  background-color: #b6255a;
}
.heart {
  position: absolute;
  bottom: -35px;
  right: -20px;
}
.buttons button {
  padding: 10px 10px;
  width: 45%;
  background: none;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  white-space: nowrap;
  font-size: 15px;
}
.buttons button:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.22);
}
.Addtocart {
  background-color: none !important;
}
.addtoCarticon {
  position: absolute;
  top: 20px;
  right: 12px;
  background-color: #00000057;
  padding: 10px;
  border-radius: 50px;
}
