// .mainDiv {
//   display: flex;
//   flex-direction: column;
//   gap: 30px;
//   padding: 3% 1%;
//   padding-bottom: 4%;
//   font-family: var(--font-inter);
//   width: 100%;
//   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
//   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
//   @media (max-width: 900px) {
//     padding: 20px;
//   }
//   > hgroup {
//     font-size: clamp(20px, 5vw, 32px);
//     font-weight: 600;
//     color: rgba(182, 4, 79, 1);
//     @media (max-width: 900px) {
//       font-size: 20px;
//       width: 100%;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//     }
//     > span {
//       display: none;
//       @media (max-width: 900px) {
//         display: flex;
//         font-size: 15px !important;
//         min-width: 50px;
//       }
//     }
//   }
//   .body {
//     display: flex;
//     gap: 20px;
//     @media (max-width: 900px) {
//       flex-direction: column;
//       align-items: center;
//     }
//     .left {
//       width: 62%;
//       display: grid;
//       grid-template-columns: 1fr 1fr;
//       gap: 20px 10px;
//       @media (max-width: 900px) {
//         width: 100%;
//         display: flex;
//         overflow-x: auto;
//         padding-bottom: 6px;
//       }
//       &::-webkit-scrollbar {
//         display: none;
//       }
//       > article {
//         border-radius: 10px;
//         display: flex;
//         align-items: start;
//         gap: 8px;
//         border: 1px solid rgba(0, 0, 0, 0.1);
//         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
//         padding: 15px 10px;
//         @media (max-width: 900px) {
//           min-width: 370px;
//         }
//         > img {
//           width: 34px;
//           aspect-ratio: 1/1;
//           object-fit: contain;
//         }
//         > span {
//           font-size: 20px;
//           font-weight: 600;
//           color: rgba(182, 4, 79, 1);
//           > p {
//             margin: 0;
//             margin-top: 7px;
//             font-size: 14px;
//             font-weight: 400;
//             color: rgba(17, 16, 16, 1);
//           }
//         }
//       }
//     }
//     .right {
//       width: 38%;
//       @media (max-width: 900px) {
//         width: 100%;
//         display: flex;
//       }
//       > article {
//         width: 100%;
//         background: rgba(253, 185, 230, 1);
//         padding: 20px;
//         display: flex;
//         flex-direction: column;
//         gap: 15px;
//         border-radius: 14px;
//         @media (max-width: 900px) {
//           text-align: center;
//         }
//         hgroup {
//           font-size: 27px;
//           font-weight: 600;
//           color: rgba(182, 4, 79, 1);
//         }
//         input,
//         select,
//         textarea {
//           font-family: var(--font-inter);
//           font-size: 13px;
//           outline: none;
//           background: rgba(255, 255, 255, 1);
//           border: 1px solid rgba(0, 0, 0, 0.4);
//           box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
//           padding: 10px 20px;
//           width: 100%;
//           border-radius: 8px;
//           color: #666666;
//           resize: none;
//         }
//         select {
//           > option {
//             padding: 20px !important;
//           }
//         }
//         section {
//           display: flex;
//           gap: 20px;
//         }
//         > button {
//           width: fit-content;
//           padding: 10px 30px;
//           background: rgba(242, 24, 79, 1);
//           border: 1px solid rgba(0, 0, 0, 0.1);
//           box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
//           border-radius: 10px;
//           align-self: center;
//           color: white;
//           font-size: 20px;
//           font-weight: 600;
//         }
//       }
//     }
//   }
// }
.right {
  width: 100%;
  @media (max-width: 900px) {
    width: 100%;
    display: flex;
  }
  > article {
    width: 100%;
    background: rgba(253, 185, 230, 1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 14px;
    @media (max-width: 900px) {
      text-align: center;
    }
    hgroup {
      font-size: 27px;
      font-weight: 600;
      color: rgba(182, 4, 79, 1);
    }
    input,
    select,
    textarea {
      font-family: var(--font-inter);
      font-size: 13px;
      outline: none;
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(0, 0, 0, 0.4);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding: 10px 20px;
      width: 100%;
      border-radius: 8px;
      color: #666666;
      resize: none;
    }
    select {
      > option {
        padding: 20px !important;
      }
    }
    section {
      display: flex;
      gap: 20px;
    }
    > button {
      width: fit-content;
      padding: 10px 30px;
      background: rgba(242, 24, 79, 1);
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      align-self: center;
      color: white;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
.right2 {
  z-index: 2;
  width: 50%;
  @media (max-width: 700px) {
    width: 100%;
    display: flex;
  }
  > article {
    width: 100%;
    background: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 14px;
    @media (max-width: 900px) {
      text-align: center;
    }
    hgroup {
      font-size: 27px;
      font-weight: 600;
      color: rgba(182, 4, 79, 1);
    }
    input,
    select,
    textarea {
      font-family: var(--font-inter);
      font-size: 13px;
      outline: none;
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(0, 0, 0, 0.4);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding: 10px 20px;
      width: 100%;
      border-radius: 8px;
      color: #666666;
      resize: none;
    }
    select {
      > option {
        padding: 20px !important;
      }
    }
    section {
      display: flex;
      gap: 20px;
    }
    > button {
      border-radius: 5px;
      background-color: rgba(182, 37, 90, 1);
      display: flex;
      gap: 12px;
      overflow: hidden;
      padding: 21px 31px;
      color: rgba(255, 255, 255, 1);
      text-transform: uppercase;
      font: 600 14px/1 Jost, sans-serif;
    }
  }
}
