.Inhouse {
  margin-top: 40px;
  display: flex;
  width: 100%;
  gap: 15px;
  @media (max-width: 900px) {
    flex-direction: column;
  }
  .left {
    position: relative;
    width: 40%;
    border-radius: 8px;
    overflow: hidden;
    @media (max-width: 900px) {
      width: 100%;
    }
    .absolute {
      border-radius: 8px;
      position: absolute;
      height: 350px;
      padding: 10px 25px;
      display: flex;
      flex-direction: column;
      width: 100%;
      @media (max-width: 900px) {
        height: 250px;
      }
      //   gap: 20px;
      left: 0;
      background-size: 50% !important;
      background-repeat: no-repeat !important;
      background: linear-gradient(
        89.47deg,
        #b6255a -19.28%,
        rgba(99, 0, 0, 0) 110.64%
      );
      justify-content: space-evenly;
      > span {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: -0.14000000059604645px;
        color: rgba(255, 255, 255, 1);
        @media (max-width: 1200px) {
          font-size: 20px;
        }
      }
      > hgroup {
        width: fit-content;
        font-size: 58px;
        font-weight: 700;
        line-height: 70px;
        letter-spacing: -0.14000000059604645px;
        color: rgba(255, 255, 255, 1);
        position: relative;
        @media (max-width: 1200px) {
          font-size: 40px;
          line-height: 50px;
        }
        > p {
          font-size: 25px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: -0.14000000059604645px;
          color: rgba(255, 255, 255, 1);
          position: absolute;
          right: -100px;
          bottom: 12px;
          @media (max-width: 1200px) {
            font-size: 20px;
            bottom: -6px;
            right: -80px;
          }
        }
      }
      button {
        border: none;
        width: fit-content;
        padding: 8px 20px;
        background: rgba(255, 255, 255, 1);
        border-radius: 50px;
        font-size: 16px;
        font-weight: 600;
        color: rgba(182, 37, 90, 1);
        transition: all ease 0.2s;
        @media (max-width: 1200px) {
          font-size: 14px;
        }
        &:hover {
          background: rgba(182, 37, 90, 1);
          color: rgba(255, 255, 255, 1);
        }
      }
    }
    > img {
      border-radius: 8px;
      min-height: 350px;
      max-height: 350px;
      width: 100%;
      @media (max-width: 900px) {
        max-height: 250px;
        min-height: 250px;
      }
    }
  }
  .right {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    @media (max-width: 900px) {
      width: 100%;
      grid-template-columns: 1fr 1fr;
    }
    > article {
      position: relative;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
      .absolute {
        border-radius: 8px;
        position: absolute;
        height: 165px;
        @media (max-width: 900px) {
          height: 135px;
        }
        padding: 10px 25px;
        display: flex;
        flex-direction: column;
        width: 100%;
        left: 0;
        // background-size: 50% !important;
        background: linear-gradient(
          89.47deg,
          #b6255a -19.28%,
          rgba(99, 0, 0, 0) 110.64%
        );
        justify-content: space-around;
        transition: background ease-in-out 0.5s !important;
        &:hover {
          background: rgba(255, 255, 255, 0) !important;
        }
        > span {
          font-size: 20px;
          font-weight: 700;
          line-height: 29px;
          letter-spacing: -0.14000000059604645px;
          color: rgba(255, 255, 255, 1);
          @media (max-width: 1200px) {
            font-size: 16px;
            line-height: 22px;
          }
        }

        button {
          border: none;
          width: fit-content;
          display: flex;
          gap: 10px;
          align-items: center;
          background: transparent;
          border-radius: 50px;
          font-size: 16px;
          font-weight: 600;
          white-space: nowrap;
          color: white;
          @media (max-width: 1200px) {
            font-size: 13px;
            line-height: 22px;
          }
          transition: all ease 0.3s;
          &:hover {
            color: #b6255a;
          }
          &:hover span {
            background: #b6255a;
            color: white;
          }
          > span {
            width: 26px;
            height: 26px;
            color: #b6255a;
            border-radius: 50px;
            background: white;
          }
        }
      }
      > img {
        border-radius: 8px;
        min-height: 165px;
        max-height: 165px;
        width: 100%;
        @media (max-width: 900px) {
          min-height: 135px;
          max-height: 135px;
        }
      }
    }
  }
}
