@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

.threeButtons2 {
  filter: drop-shadow(0px 0px 4.65568px rgba(0, 0, 0, 0.05));
  background-color: transparent;
  color: #f26540;
  height: 100%;
  width: fit-content;
  font-family: "Work Sans", sans-serif;
  border: none;
  background-color: #db3672;
  color: white;
}
.threeButtons1 {
  border: 0.931136px solid #db3672;
  filter: drop-shadow(0px 0px 4.65568px rgba(0, 0, 0, 0.05));
  border-radius: 4.65568px;
  background-color: transparent;
  color: #db3672;
  height: 33px;
  width: fit-content;
  font-family: "Work Sans", sans-serif;
  /* padding-bottom: 5px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 3px;
  font-size: 13px;
  font-weight: bold;
  padding: 0px;
}

.totalPrice {
  position: fixed;
  bottom: 0%;
  height: 10%;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 3vw;
}

.totalPrice button {
  width: fit-content;
  height: 80%;
  font-size: 24px;
  background-color: #db3672;
  border: 1px solid #db3672;
  color: white;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 12vw 10px 2vw;
  border-radius: 5px;
  font-weight: 500;
}

.mainMakeupWrapper {
  background-color: #fee6ee;
  /* margin-top: 99px; */
  padding: 50px;
}
@media (max-width: 900px) {
  .mainMakeupWrapper {
    /* margin-top: 60px; */
  }
}
.homeWrapper {
  background-color: #f26540;
  width: 100%;
  height: 100vh;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  margin-top: 95px;
  font-family: "Work Sans", sans-serif;
}

.homeContentWrapper {
  height: 96%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeContentWrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
}

.inputs {
  width: 70%;
  height: 50px;
  background-color: white;
  position: absolute;
  top: 4rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.427),
    -5px - 5px 15px rgba(0, 0, 0, 0.356);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 35% 35% 25%;
  column-gap: 5%;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  box-sizing: border-box;
  /* padding-right: 0.2rem; */
}

.inputs select {
  height: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: 600;
}

.homeContentWrapper button {
  height: 50px;
  outline: none;
  border: none;
  background-color: #f26540;
  border-radius: 20px;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
}

.mainWrapper {
  width: 100%;
  position: relative;
}

/* services------------------------- */

.serviceWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  width: 100%;
  height: fit-content;
  align-items: flex-start;
  justify-content: center;
  place-items: center;
  /* background-color: #f5f5f5; */
  /* bottom: 6rem; */
}
@media (max-width: 1300px) {
  .serviceWrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .serviceWrapper {
    grid-template-columns: 1fr;
  }
}
.one {
  width: 354px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 15px 17px 25px -1px rgba(0, 0, 0, 0.05);
  border-radius: 5%;
  padding: 20px 30px;
  margin: 0 2.5rem;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
}
.imgListCardforAlbum {
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.imgListCardforAlbum img {
  height: 100%;
  width: 100%;
}
/* .one button:first-child {
  /* border: 0.931136px solid #f26540; 
  filter: drop-shadow(0px 0px 4.65568px rgba(0, 0, 0, 0.05));
  background-color: transparent;
  color: #f26540;
  height: fit-content;
  width: fit-content;
  font-family: "Work Sans", sans-serif;
  border: none;
} */

/* .one button:nth-child(2) {
  border: 0.931136px solid #f26540;
  filter: drop-shadow(0px 0px 4.65568px rgba(0, 0, 0, 0.05));
  border-radius: 4.65568px;
  background-color: transparent;
  color: #f26540;
  height: 33px;
  width: 80px;
  font-family: "Work Sans", sans-serif;
} */

/* .smallBoxWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 4;
} */

.smallBox {
  position: absolute;
  left: -3.4rem;
  height: 250px;
  width: 48px;
  top: 6rem;
  background: #ffeaaf;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
  box-shadow: 0px 0px 18.6227px rgba(0, 0, 0, 0.05);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallBox2 {
  position: absolute;
  left: -3.4rem;
  height: 250px;
  width: 48px;
  top: 6rem;
  background: #aeffcf;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
  box-shadow: 0px 0px 18.6227px rgba(0, 0, 0, 0.05);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallBox2 span {
  transform: rotate(-90deg);
  font-weight: 600;
  font-size: 1.3rem;
  white-space: nowrap;
  font-family: "Work Sans", sans-serif;
}

.smallBox3 span {
  transform: rotate(-90deg);
  font-weight: 600;
  font-size: 1.3rem;
  white-space: nowrap;
  font-family: "Work Sans", sans-serif;
}

.smallBox3 {
  position: absolute;
  left: -3.4rem;
  height: 250px;
  width: 48px;
  top: 6rem;
  background: #ffd9e9;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
  box-shadow: 0px 0px 18.6227px rgba(0, 0, 0, 0.05);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallBox span {
  transform: rotate(-90deg);
  font-weight: 600;
  font-size: 1.3rem;
  white-space: nowrap;
  font-family: "Work Sans", sans-serif;
}

.upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.upper h2 {
  font-size: 1.7rem;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.contentWrapper {
  width: 100%;
}

.items .left {
  flex: 3;
  padding-left: 1rem;
}

.items .right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.exp {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 1rem;
}

.exp p {
  color: gray;
  font-family: "Work Sans", sans-serif;
}

.exp span {
  margin-top: -1rem;
  font-family: "Work Sans", sans-serif;
}

.products {
  width: 50%;
  padding-left: 1rem;
  font-size: 13px;
}

.products p {
  color: gray;
  width: 50%;
  font-family: "Work Sans", sans-serif;
}

.products span {
  margin-top: 0rem;
  font-size: 13px;
  font-family: "Work Sans", sans-serif;
}

/* -------------------------work  section--------------------- */

.workWrapper {
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
  flex-direction: column;
  margin-top: -4rem;
}

.workWrapper .Heading h1 {
  font-size: 3rem;
  letter-spacing: 4.5px;
  font-weight: 400;
  line-height: 84px;
  text-align: center;
  color: #000000;
  font-family: "Work Sans", sans-serif;
  margin: 2rem 0;
}

/* /// */
.workWrapper .Albums {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* .Albums first child  */
.Albums .allAlbums {
  display: flex;
  /* margin-top: 2rem; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.allAlbums p {
  padding: 0 18px;
  font-weight: 500;
  font-size: 1.3rem;
}

.allAlbums span {
  color: #f26540;
}

/* .Albums second child  */
.Albums .allCities select {
  width: 200px;
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.293);
  border-radius: 5px;
}

/* //// / */
/* work Image  */
.workWrapper .workImage {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.workWrapper .workImage img {
  width: 100%;
}

/* ---------------------------feedback section-------------------------------------- */

/* main div  */

.FeedbackWarrper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* feedback hading  */

.FeedbackWarrper .FeedbackHading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  font-size: 1.4rem;
}

.FeedbackHading h1 {
  margin: 0;
  font-size: 3rem;
  letter-spacing: 4.5px;
  font-weight: 400;
  line-height: 84px;
  text-align: center;
  color: #000000;
}

/* /// all reviews  */

.FeedbackWarrper .AllReviews {
  width: 90%;
  background-color: #ffffff;
  margin-bottom: 3rem;
}

.ReviewUpper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
}

.ReviewUpper span {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.ReviewUpper span:first-child {
  color: red;
  text-decoration: underline;
}

.icon {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.392);
}

.reviewsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
}

.reviewsWrapper .left {
  flex: 1.5;
  display: flex;
  justify-content: center;
}

.reviewsWrapper .right {
  flex: 10;
  border-bottom: 2px solid rgba(0, 0, 0, 0.23);
  margin-right: 1rem;
}

.user {
  display: flex;
  align-items: center;
  width: 100%;
}

.user p {
  font-weight: 500;
  font-size: 1.2rem;
}

.user span {
  margin-left: 2rem;
}

.author {
  display: flex;
  align-items: center;
  margin-top: -2rem;
}

.author p {
  color: rgba(7, 7, 7, 0.352);
  margin-top: 1.5rem;
}

.author span {
  margin-left: 3rem;
  color: rgba(7, 7, 7, 0.352);
}

.review {
  margin-top: 0rem;
  /* background-color: red; */
  padding-bottom: 1rem;
}

.review h5 {
  /* font-weight: 00; */
  font-weight: 400;
  line-height: 30px;
  margin-top: 0;
}

.btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.btn button {
  width: 300px;
  height: 53px;

  outline: none;
  border: 1px solid #f26540;
  background-color: transparent;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #f26540;
}

@media screen and (max-width: 899px) {
  .serviceWrapper {
    height: fit-content;
    flex-direction: column;
    gap: 20px;
  }

  .workWrapper .Albums {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
  }

  .homeWrapper {
    margin-top: 59px;
  }
}
.inhouseHeads {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  gap: 15px;
}
.inhoueseheadspan {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  text-align: center;
}
.inhoueseheaddown {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.inhoueseheaddown article {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  font-size: 16px;
}
.inhoueseheaddown article span {
  display: flex;
  align-items: flex-end;
}
.inhoueseheaddown article img {
  height: 25px;
  width: 25px;
}
.imgdiv {
  display: flex;
  overflow-y: scroll;
  gap: 10px;
  margin-top: 20px;
  width: 310px;
}
.imgdiv img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
@media (max-width: 590px) {
  .inhoueseheaddown article {
    font-size: 12px;
  }
  .inhoueseheaddown article img {
    height: 20px;
    width: 20px;
  }
  .inhoueseheaddown {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .inhoueseheadspan {
    font-size: 29px;
  }
  .one {
    width: 300px;
    padding: 10px 5px;
    margin: 0px 0px;
  }
}
.mainModaldiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Ledger";
}
.seemoreX {
  position: absolute;
  right: 10px;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}
.seemoreX img {
  height: 20px;
  width: 20px;
}
.seemorehead {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
.modalMainbody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
}
.bodyDivs {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 20px 3px #46464640;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .bodyDivs {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .bodyDivs .modal1stleftdiv {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .bodyDivs .modal1strightdiv {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}
.bodyDivs1 {
  width: 100%;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 20px 3px #46464640;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.modal1stleftdiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
}
.modal1strightdiv {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}
.bodyDivs2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.radiodiv1 {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  align-items: center;
}
.radiodiv2 {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.modalClassesbutton {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 20px;
  margin-bottom: 20px;
}
.modalClassesbutton button {
  padding: 8px 12px;
  background-color: #db3672;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 8px;
}
.bigSliderImage {
  height: 80vh !important;
  object-fit: contain !important;
}
@media (max-width: 500px) {
  .smallBox {
    position: static;
    border-radius: 0px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    height: fit-content;
    border-radius: 0px 0px 20px 20px;
  }
  .smallBox span {
    transform: rotate(0deg) !important;
  }
  .smallBox2 {
    position: static;
    border-radius: 0px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    height: fit-content;
    border-radius: 0px 0px 20px 20px;
  }
  .smallBox2 span {
    transform: rotate(0deg) !important;
  }
  .smallBox3 {
    position: static;
    border-radius: 0px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    height: fit-content;
    border-radius: 0px 0px 20px 20px;
  }
  .smallBox3 span {
    transform: rotate(0deg) !important;
  }
}
