.RevCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.694);
  padding: 20px;
}
.DetailCard {
  background-color: rgba(224, 224, 224, 0.357);
  width: 100%;
  display: flex;
  padding: 20px;
  margin-bottom: 30px;
}
.ImgContainer {
  width: 30%;
  padding: 10px;
}
.ImgContainer img {
  width: 100%;
  height: 100%;
}
.WrittenDetail {
  width: 70%;
  padding: 10px;
}
.exclusive1 {
  z-index: 20;
  width: 88px;
  height: 21px;
  position: relative;
  box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.22);
  margin-bottom: 5px;
}
.exclusive1 .star2 {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 4px;
  left: 8px;
  color: #ffffff;
}
.exclusive1 img {
  position: absolute;
  height: 21px;
  width: 88px;
}
.exclusive1 span {
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  top: 1px;
  left: 25px;
}
.instock {
  font-size: 16px;
  font-weight: 500;
}
.outofstock {
  color: #b6255a;
  font-size: 13px;
}
.Cats {
  display: flex;
  font-size: 16px;
}
.Heads {
  font-weight: bold;
  margin-right: 5px;
}
.hello {
  font-size: 30px;
}
.mainReviewBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 13%;
  padding-right: 15%;
  margin-top: 5%;
  padding-top: 30px;
  border-top: 1px solid grey;
  gap: 20px;
}
.ReviewContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ReviewUser {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
}
.ReviewUser h6 {
  padding-top: 4px;
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  font-size: 19px;
}
.ReviewCountryDate {
  font-size: 14px;
  color: rgba(72, 72, 72, 0.834);
}
.ReviewSpan span {
  font-size: 15px;
  line-break: anywhere;
}
.ReviewStar {
  margin-top: -10px;
  margin-bottom: -7px;
  display: flex;
  align-items: center;
  width: 100%;
}
.Viewbtn {
  font-size: 14px;
}
.Viewbtn:hover {
  color: #b6255a;
  text-decoration: underline;
  cursor: pointer;
}
.ReplyContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 50px;
}
.ReplyContainer .ReviewUser h6 {
  font-size: 17px;
}
.ReplyContainer .ReviewCountryDate {
  margin-top: -5px;
}
.btndiv {
  display: flex;
  gap: 15px;
}
.ReviewCard {
  padding: 20px;
}

.popupcontainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 500px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.popupcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popupClosebtn {
  border: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.189);

  color: white;
}
.popupClosebtn:hover {
  background-color: rgba(0, 0, 0, 0.582);
}
